div.banner
{
	position:absolute;
	float: left;
	background-color: #EA580B;
	width: 100%;
	height: 20%;
	top: 0%;
	left: 0%;
}
div.banner h1
{
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	color: white;
	font-size: 50px;
	object-fit: contain;
}
div.banner img
{
	height: 100%; 
	width: 100%; 
	top: 0%;
	right: 0%;
	object-fit: contain;
}

div.form
{
	background-color: lightblue;
	padding: 20px;
	position: fixed;
	left: 10%;
	width: 80%;
	top:25%
}
div.form input
{
	width:500px;
}


/*.header img
{
	display: inline;
	padding: 20px;
	float: right;
	width: 40px;
	height: 40px;
	background: white;
}*/

/*#logo
{
	width=460;
	height=345;
}*/

.progress-bar-striped 
{
	overflow: hidden;
	height: 20px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);

	position: absolute;
	width: 90%;
    /*top: 50%;*/
	bottom: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.progress-bar-striped > div 
{
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-size: 40px 40px;

	float: left;
	width: 80%;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #ffffff;
	text-align: center;

	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-webkit-transition: width 3s ease;
	-moz-transition: width 3s ease;
	-o-transition: width 3s ease;
	transition: width 3s ease;
	animation: progress-bar-stripes 2s linear infinite;
	background-color: #EA580B;
}
.progress-bar-striped p
{
	margin: 0;
}

@keyframes progress-bar-stripes 
{
	0% 
	{
		background-position: 40px 0;
	}
	100% 
	{
		background-position: 0 0;
	}
}

div.progress_input
{
	background-color: lightblue;
	padding: 20px;
	position: fixed;
	left: 10%;
	width: 10%;
	bottom: 40%;
}

/* Box styles */
div.myBox 
{
	border-radius: 25px;
	background: #EA580B; 
	font: 24px/36px sans-serif;
	width: 90%;
	height: 200px;
	overflow: scroll;
	position: absolute;
	bottom: 0%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	
}
/*-webkit-scrollbar-button addresses the directional buttons on the scrollbar */
/*-webkit-scrollbar-track-piece is the top-most layer of the the progress bar not covered by the draggable scrolling element (thumb) */
/*-webkit-scrollbar-corner addresses the (usually) bottom corner of the scrollable element, where two scrollbars might meet */
/*-webkit-resizer addresses the draggable resizing handle that appears above the scrollbar-corner at the bottom corner of some elements */

/*-webkit-scrollbar addresses the background of the bar itself. It is usually covered by the other elements */
::-webkit-scrollbar 
{
	background: transparent;
	width: 12px;
	height: 12px;
}
/*-webkit-scrollbar-track addresses the empty space “below” the progress bar */
::-webkit-scrollbar-track 
{
	border: 1px solid #EA580B;
	border-radius: 10px;
}
/*-webkit-scrollbar-thumb addresses the draggable scrolling element that resizes depending on the size of the scrollable element */
::-webkit-scrollbar-thumb 
{
	background: #EA580B;  
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover 
{
	background: #FBA200;  
}
div.myBox p
{
	margin: 0;
	color: white;
	overflow-wrap: anywhere;
	word-wrap: break-word;
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/*body 
{
	background-color: white;
}

h
{
	color: white;
	text-align: center;
}

p 
{
	font-family: verdana;
	font-size: 15px;
	color: black;
}
*/

/*
#rcorners1 
{
  border-radius: 25px;
  background: #73AD21;
  padding: 20px; 
  width: 200px;
  height: 150px;  
}
#rcorners2 
{
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px; 
  width: 200px;
  height: 150px;  
}
<p id="rcorners1">Rounded corners!</p>
<p id="rcorners2">Rounded corners!</p>
*/

